html,
body {
    margin: 0;
}


::-webkit-scrollbar {
    display: none;
}

body {
    height: 770vh;
    width: 100%;
    display: flex;
    background-color: lightgray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column; 
}

header {
    display: flex;
    position: fixed;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, transparent , black 100%);
    z-index: 10;
}

header img {    
    display: flex;
    height: 75%;
    width: auto; 
    margin-left: 2%;
}

.box {
    position: relative;
    width: 15%;
    height: 75%;
}

h2 { font-size: 20px;}

.dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
}

.dropdown .left-icon,
.dropdown .right-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 40px;
    transition: .5s;
}
.dropdown .left-icon {
    left: 7px;
    transform: rotate(45deg);
}
.dropdown.active .left-icon {
    transform: rotate(135deg);
}
.dropdown .right-icon {
    transform: rotate(-45deg);
}
.dropdown.active .right-icon {
    transform: rotate(-135deg);
}

.dropdown .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 26%;
    overflow: hidden;
    visibility: hidden;
    transition: .5s;
    
}

.dropdown.active .items {
    visibility: visible;
}

.dropdown .items a {
    position: relative;
    color: white;
    left: 100%;
    display: flex;
    font-size: 20px;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    transition-delay: calc(60ms * var(--i));
    font-weight: initial;
    background: linear-gradient(to top, transparent, black );
}

.dropdown.active .items a {
    left: 0;
}

.dropdown .items a:hover,
h2:hover { 
    font-size: 25px;
    color: red;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 700vh;
}

.grid-item {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    height:65vh;
    width: 25vw;
    justify-content: center; 
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover {
   transform: scale(1.1);
   transition: .3s;
}

.img-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;    
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.circle {
    position: absolute;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    height: 100%; 
    border-radius: 50%;
}

.card-content {
    width: 100%;
    height: 40%;
    margin-top: 10%;
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    align-items: center;
 
 }
 
 .grid-item {
     display:flex ;
     align-items: center;
     justify-content: center
 }
 
 .grid-item img, 
 .grid-item h4{
     font-size: 20px;
     margin-left: 2%;
 }

@media (max-width: 768px) {
    body {
        height: auto; /* Réinitialise la hauteur du corps */
    }

    .grid-container {
        grid-template-columns: 1fr; /* Une seule colonne à la place de deux */
    }

    h3 {
        font-size: 15px;
    }
}